modules/waybar/.venv/*
modules/scripts/wallpaper/.wallpaperQueue
.waybar_log
modules/neovim/nvim/parser/*
modules/neovim/nvim/init.lua
modules/neovim/nvim/lazy-lock.json

*.kra~
modules/keyboard/compile_commands.json
